:root {
    --primary-color: #0a6b0d;
    --light: #EBEBE8;
    --dark: #31352E;
    --secondary-color: #208d24;
    --font-family: 'Poppins', sans-serif;
}
body {
    font-family: 'Poppins', sans-serif;
    margin: 20px;
    line-height: 1.6;
    background-color:var(--light);
    color: var(--light);
    margin-top: 0;
    margin: 0;
    padding: 0;
    color: var(--dark);
}
header {
    background-color: var(--secondary-color);
    color: rgb(255, 255, 255);
}

header h1 {
    margin: 0;
    padding-top: 40px;
    text-align: center;
}
header h3 {
    margin-bottom: 0;
    padding-bottom: 40px;
    text-align: center;
    font-weight: 100;
    font-style: italic;
    font-size: 15px;
    margin-bottom: 10px;
    
}
header nav ul {
    
  display: flex; 
  justify-content: center; 
  list-style: none;
  padding: 10px;
  margin:  10;
  gap: 20px; 
  background-color: var(--primary-color);
}

header nav ul li a {

  text-decoration: none; 
  color: var(--light); 
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  padding: 2px;
  transition: color 0.3s ease;

}

 header nav ul li a:hover {
  color: var(--dark);
}



main  div .sidebar {
  position: sticky ;
  top: 2rem; 
  left: 10px;
  height: max-content;
  width: 130%;
  margin-left: 1rem;
  margin-right: 3rem;
  padding: 5px;
  background-color: var(--primary-color);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


html {
  scroll-behavior: smooth;
}
main div .sidebar p{
  text-align: left;
  display: flex;
  color: var(--light);
  text-decoration: none;
  margin-top: 15px;
  margin-left: 15px;
  font-weight: 500;
  font-size: medium;
  transition: color 0.3s ease;
}
main  div .sidebar ol a {
  font-style: italic;
  text-align: left;
  display: flex;
  color: var(--light);
  text-decoration: none;
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: medium;
  transition: color 0.3s ease;

}

main  div .sidebar a:hover {
  color: var(--dark);
}


main article {
    margin-bottom: 20px;
    margin-right: 30px;
    margin-left: 7rem;
    padding: 20px;
    background-color: var(--light);
    border-radius: 8px;
    text-align: justify;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
background-color:var(--primary-color);
  color: var(--light); 
  text-align: center;
  padding: 1rem;
}

footer p a{
  margin: 0;
  font-size: 16px;
  text-decoration: none;
  color:var(--light);
}

footer p a:hover {
  color: var(--dark);
}

main{
  display: flex;
  background-color: var(--light);
  
}
